<div class="container">
  <div class="jumbotron">
    <h1>Directorio de Pastelerías</h1>
    <p>En este directorio usted podrá encontrar un listado de las diversas pastelerías que existen y los pasteles que se pueden encontrar en ellas. Además puede añadir su pastelería y pasteles a este directorio.</p>
  </div>
</div>
